{% extends 'sith/base.html' %}
{% load sith_filters %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Доступные рекруты на вашей планете ({{ planet }})</h2>
    <div class="content mt-4">
        {% if recruits.count == 0 %}
        <p>Доступных рекрутов нет.</p>
        {% else %}
        {% for recruit in recruits %}
        <div class="card mb-4 recruit">
            <h5 class="card-header">{{ recruit.name }}</h5>
            <div class="card-body">
                <div class="card-text">
                    <button class="btn btn-primary mb-2" type="button" data-toggle="collapse"
                            data-target="#testResponsesId{{ recruit.id }}" aria-expanded="false"
                            aria-controls="testResponsesId{{ recruit.id }}">
                        Ответы на тест
                    </button>
                    <div class="collapse" id="testResponsesId{{ recruit.id }}">
                        <p class="mb-0">Ответы на тест:</p>
                        {% with current_responses=responses|get_questions_by_recruit_id:recruit.id %}
                        {% if current_responses.count == None %}
                        <p>Ответов для данного рекрута не найдено.</p>
                        {% else %}
                        <ul>
                            {% for response in current_responses %}
                            <li>{{ response.question }}</li>
                            <b>Ответ:</b>
                            {% if response.answer == True %}
                            Да
                            {% else %}
                            Нет
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <button href="#" class="btn btn-primary sith-accept" data-recruit="{{ recruit.id }}">Зачислить Рукой Тени</button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ошибка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalErrorMessage"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script>
    function hideRecruit(recruitButton) {
        let recruit = recruitButton.closest('.recruit');
        $(recruit).slideUp(400, function() {
            recruit.remove();
        });
    }
    $(".sith-accept").click(function(e) {
        e.preventDefault();
        const recruit_id = e.target.dataset['recruit'];
        e.target.disabled = true;
        $.ajax({
            type: "POST",
            url: "/sith/{{ sith.id }}/recruit",
            data: {
                recruit_id: recruit_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(result) {
                if (result.success == true) {
                    hideRecruit(e.target);
                } else {
                    let message = 'Не удалось выполнить операцию, попробуйте позже.';
                    if (result.message) {
                        message = result.message;
                    }
                    $('#modalErrorMessage').text(message);
                    $('#errorModal').modal('show');
                }
                e.target.disabled = false;
            },
            error: function(result) {
                $('#modalErrorMessage').text('Не удалось выполнить операцию, попробуйте позже.');
                $('#errorModal').modal('show');
                e.target.disabled = false;
            }
        });
    });
</script>
{% endblock %}
