{% extends 'sith/base.html' %}

{% block title %}
Добро пожаловать
{% endblock %}

{% block content %}
    <div id="main-menu">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 my-auto">
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg mr-3" href="./sith.html">Для Ситхов</a>
                        <a class="btn btn-primary btn-lg" href="./recruit/signup">Для рекрутов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}